body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

h1 {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: white;
}

.dark-mode h1 {
  color: black;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.fa-solid {
  cursor: pointer;
  font-size: 32px;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.text {
  background-color: #fef68a;
}

.text:focus .change-icon {
  background-color: #fef68a;
}

.note {
  display: flex;
  flex-direction: column;
  background-color: #fef68a;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  justify-content: space-between;
  white-space: pre-wrap; /* pre-line */
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change-icon {
  margin-right: 10px;
  opacity: 0.5;
}

.change-icon-activity {
  cursor: pointer;
  margin-right: 10px;
  opacity: 1;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}
